<!-- I jsut edit the codes given by professor in "login.html" -->

{% extends "base.html" %}
{% block content %}

<h1>Balance of the User</h1>


<form action="" method="post">
  {{ form.hidden_tag() }}
    <p>
    Account Balance<br/>
    {{ your_balance }}<br/>
  </p>
  <p>
    Topup Amount<br/>
    {{ form.topup(size=32) }}<br/>
    {% for error in form.topup.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    Withdraw Amount<br/>
    {{ form.withdraw(size=32) }}<br/>
    {% for error in form.withdraw.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}
