<!-- I jsut edit the codes given by professor in "login.html" -->

{% extends "base.html" %}
{% block content %}

<h1>Balance of the User</h1>

<!-- <form action> example: https://zhuanlan.zhihu.com/p/144256480
    action=""和action="#"、没有action属性的作用相同，都是提交到当前页面(也就是document.location.href) -->
<!-- <form method> example: https://www.w3school.com.cn/tags/att_form_method.asp
    method 属性规定如何发送表单数据（表单数据发送到 action 属性所规定的页面）。
    表单数据可以作为 URL 变量（method="get"）或者 HTTP post （method="post"）的方式来发送。 -->
<!-- <br> 可插入一个简单的换行符。 
    注意，<br> 标签只是简单地开始新的一行，而当浏览器遇到<p> 标签时，通常会在相邻的段落之间插入一些垂直的间距。-->
<form action="" method="post">
  {{ form.hidden_tag() }}
    <p>
    User Balance<br/>
    {{ User_Balance }}<br/>
  </p>
  <p>
    Topup Amount<br/>
    {{ form.topup(size=32) }}<br/>
    {% for error in form.topup.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    Withdraw Amount<br/>
    {{ form.withdraw(size=32) }}<br/>
    {% for error in form.withdraw.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}