{% extends "base.html" %}

{% block content %}
<h2>My Cart:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Seller</th>
      <th scope="col">Quantity</th>
      <th scope="col">Delete From Cart</th>
    </tr>
  </thead>
  <tbody>
    {% for product in cart%}
    <tr>
      <td><a href="{{ url_for('product_page.page', product_id=product.pid) }}">{{product.name}}</a></td>
      <td>{{product.price}}</td>
      <td>{{product.seller_name}} </td>
      <td>{{ product.quantity }} <a href="{{ url_for('users.changeCartQuantity', pid=product.pid) }}">  Change </a> </td>
      <td><a href="{{ url_for('users.delFromCart', pid=product.pid) }}"> Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-secondary" href="{{ url_for('users.checkout') }}" role="button">Checkout</a>
<br><br>
{% include '_include/purchase_history.html' %}
{% endblock %}