{% extends "base.html" %}

{% block content %}
<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Seller</th>
      <th scope="col">Review</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td><a href="/social/seller_review/{{product.seller_id}}"> {{product.seller_name}} </a></td>
      <td><a href="/social/product_review/{{product.id}}"> review </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% include '_include/purchase_history.html' %}
{% endblock %}

