{% extends "base.html" %}

{% block content %}
<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Seller</th>
      <th scope="col">Seller Review</th>
      <th scope="col">Product Review</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.seller_name}} </td>
      <td><a href="{{ url_for('social.seller_reviews', seller_id=product.seller_id) }}"> {{ product.n_seller_reviews }} Reviews </a> 
        / {{ product.seller_overall_star }} Stars</td>
      <td>
        <a href="{{ url_for('social.product_reviews', product_id=product.id) }}">
          {{ product.n_product_reviews }} Reviews
        </a>
        / {{ product.product_overall_star }} Stars
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% include '_include/purchase_history.html' %}
{% endblock %}