{% extends "base.html" %}

{% block content %}
<h2>Selling Order Details for <span style="color: rgb(0, 140, 255);">{{p_name}}</span></h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Total Amount</th>
      <th scope="col">Total Price</th>
      <th scope="col">Buyer Name</th>
      <th scope="col">Buyer Address</th>
      <th scope="col">Time Buyer Placed Order</th>
      <th scope="col">Fulfillment Status</th>
    </tr>
  </thead>

  <tbody>
    {% for avail in avail_history%}
      <tr>
        <td>{{avail.quantity}}</td>
        <td>{{avail.price}}</td>
        <td>{{avail.buyer_fname}} {{avail.buyer_lname}}</td>
        <td>{{avail.buyer_addr}}</td>
        <td>{{avail.time_purchased}}</td>
        <td>{% if avail.fulfilled_by_seller%} This order is fulfilled at {{avail.time_fulfilled}}
          {% else %} This order is not fulfilled yet.  <a href="{{ url_for('users.fulfilled', id=avail.id) }}"> Fulfill Now</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<img src="{{ url_for('static', filename='/analysis_pic/' + file_name + '.png') }}" />
{% if runing_low %} <span style="color: rgb(255, 0, 0);">This product is running low. Please replenish inventory. </span> 
{% endif %}
<img src="{{ url_for('static', filename='/analysis_pic/' + file_name_1 + '.png') }}" />
{% if running_low_1 %} <span style="color: rgb(255, 0, 0);">The quantity of unfulfilled order is larger than the remaining inventory. Please replenish inventory. </span> 
{% endif %}
{% if draw %} <img src="{{ url_for('static', filename='/analysis_pic/' + file_name_2 + '.png') }}" />
{% endif %}
<br><br>
<a class="btn btn-secondary" href="{{ url_for('users.selling_items_history') }}" role="button">Back to last page</a>
<a class="btn btn-secondary" href="{{ url_for('index.index') }}" role="button">Back to main page</a>
{% endblock %}