{% extends "base.html" %}

{% block content %}
<h2>Sellers for {{product_name}}:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Picture</th>
      <th scope="col">Description</th>
      <th scope="col">Seller</th>
      <th scope="col">Price</th>
      <th scope="col">Product Review</th>
      <th scope="col">Quantity Avaliable</th>
      <th scope="col">Add to Cart</th>
    </tr>
  </thead>
  <tbody>
    {% for product in product_list%}
    <tr>
      <th scope="row"><img src="{{ url_for('static', filename='/pic/' + product.img) }}" /> </th>
      <td>{{product.descr}} </td>
      <td>{{product.seller_name}} </td>
      <td>{{product.price}}</td>
      <td>
        <a href="{{ url_for('social.product_reviews', product_id=product.id) }}">
          {{ product.overall_star }} Stars
        </a>
      </td>
      <td>{{product.inv}}</td>
      <td><a href="{{ url_for('users.addToCart', pid=product.id) }}">add to cart</a></td>
    
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}