{% extends "base.html" %}

{% block content %}
<h2>History of Selling Orders</h2>


<div class="col-sm-8 search-bar">
  <form action="/search" method="post" class="input-group mb-3">
    <!-- <div class="input-group-prepend">
      <select class="custom-select" name="type">
        <option value="products">Products</option>
        <option value="user_history">Purchase History</option>
        <option value="seller_history">Seller History</option>
      </select>
    </div> -->
    <div class="input-group-prepend">
      <select class="custom-select" name="category">
        <option value="">All</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
      </select>
    </div>
    <input type="text" class="form-control" name='search-message' placeholder={{keyword}}>
    <div class="input-group-prepend">
      <select class="custom-select" name="order">
        <option value=0>Select Order</option>
        <option value=1>$-$$$</option>
        <option value=2>$$$-$</option>
      </select>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>
</div>

{% if is_seller %}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Total Price</th>
      <th scope="col">Buyer Name</th>
      <th scope="col">Buyer Address</th>
      <th scope="col">Time Buyer Placed Order</th>
      <th scope="col">Fulfillment Status</th>
    </tr>
  </thead>

  <tbody>
    {% for avail in avail_history%}
      <tr>
        <th scope="row">{{avail.p_name}}</th>
        <td>{{avail.quantity}}</td>
        <td>{{avail.price}}</td>
        <td>{{avail.buyer_fname}} {{avail.buyer_lname}}</td>
        <td>{{avail.buyer_addr}}</td>
        <td>{{avail.time_purchased}}</td>
        <td>{% if avail.fulfilled_by_seller%} This order is fulfilled at {{avail.time_fulfilled}}
          {% else %} This order is not fulfilled yet.  <a href="{{ url_for('users.fulfilled', id=avail.id) }}"> Fulfill Now</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    <div class="text-center">
      <p> <font size= 8> You need to sign up for a seller before viewing Selling History!</font> </p>
      </div>
    <p>
    {% endif %} 
<br><br>
<a class="btn btn-secondary" href="{{ url_for('index.index') }}" role="button">Back to main page</a>
{% endblock %}