{% extends "base.html" %}

{% block content %}
<h2>Selling Items History</h2>
{% if is_seller %}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Overall Star</th>
      <th scope="col">Inventory</th>
      <th scope="col">Availability</th>
    </tr>
  </thead>

  <tbody>
    {% for sell_history in avail_history%}
      <tr>
        <th scope="row">{{sell_history.name}}</th>
        <td>{{sell_history.price}}</td>
        <td>
          <a href="{{ url_for('social.product_reviews', product_id=sell_history.id) }}">
            {{ sell_history.n_product_reviews }} Reviews
          </a>
          / {{ sell_history.product_overall_star }} Stars
        </td>
        <td>{{sell_history.inv}} </a> </td>
        <td>{% if sell_history.available %} Still Selling 
            {% else %} Already Deleted
            {% endif %}
          </a> </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    <div class="text-center">
      <p> <font size= 8> You need to sign up for a seller before viewing Items on Sale!</font> </p>
      </div>
    <p>
    {% endif %} 
<br><br>
<a class="btn btn-secondary" href="{{ url_for('index.index') }}" role="button">Back to main page</a>
{% endblock %}