{% extends "base.html" %}

{% block content %}

<h1>Chat with Seller</h1>
{% for message in msg %}
<p>{%if message.from_user %} <span style="color: rgb(0, 225, 255);"> You </span> {{message.time_of_message}}</p> 
{% else %} <span style="color: rgb(0, 255, 0);"> Seller </span> {{message.time_of_message}} {% endif %}
<p>
  {{message.msg}}
</p>
{% endfor %}
<form action="" method="post">
  {{ form.hidden_tag() }}
   <p>
    {{ form.message.label }}<br/>
    {{ form.message(size=32) }}<br/>
    {% for error in form.message.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <p>{{ form.submit() }}</p>
  </p>
  <a class="btn btn-secondary" href="{{ url_for('users.detailed_order_buyer', order_id = order_id) }}" role="button">Back to last page</a>
  <a class="btn btn-secondary" href="{{ url_for('index.index') }}" role="button">Back to main page</a>
</form>

{% endblock %}
