<div class="header">
  <div class="row">
    <div class="col-sm-2 text-center">
      <a class="navbar-brand" href="{{ url_for('index.index') }}"><img
          src="{{ url_for('static', filename='images/banana.jpg') }}"></a>
    </div>

    <div class="col-sm-8 search-bar">
      <form action="/search" method="post" class="input-group mb-3">
        <!-- <div class="input-group-prepend">
          <select class="custom-select" name="type">
            <option value="products">Products</option>
            <option value="user_history">Purchase History</option>
            <option value="seller_history">Seller History</option>
          </select>
        </div> -->
        <div class="input-group-prepend">
          <select class="custom-select" name="category">
            <option value="">All</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
          </select>
        </div>
        <input type="text" class="form-control" name='search-message' placeholder={{keyword}}>
        <div class="input-group-prepend">
          <select class="custom-select" name="order">
            <option value=0>Select Order</option>
            <option value=1>$-$$$</option>
            <option value=2>$$$-$</option>
          </select>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
      </form>
    </div>

    <div class="col-sm-2 login-icon">
      <div class="text-center">
      {% if current_user.is_authenticated %}
        Hello {{current_user.firstname}}!
        <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('users.seller_register') }}">Seller Registration</a>
          <a class="dropdown-item" href="{{ url_for('users.seller_post') }}">Post Item(s)</a>
          <a class="dropdown-item" href="{{ url_for('users.items_on_sale') }}">Items on Sale</a>
          <a class="dropdown-item" href="{{ url_for('users.selling_history') }}">History of Selling Orders</a>
          <a class="dropdown-item" href="{{ url_for('social.my_product_reviews') }}">My Product Reviews</a>
          <a class="dropdown-item" href="{{ url_for('social.my_seller_reviews') }}">My Seller Reviews</a>
          <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>         
        </div>
        <div class="text-center">
        {% if current_user.is_seller %} You have registered as seller! {% endif %} 
        </div>
        {% else %}
        <a href="{{ url_for('users.login') }}" type="button" class="btn btn-dark">
          login
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <hr class="solid">
</div>