{% if current_user.is_authenticated %}

<h1>Your Purchase History:</h1>

<br/>

<h3>Search and filter your purchase history:</h3>
<form action="{{ url_for('users.purchase_history') }}" method="POST">

    from
    <input type="date" name="since_date" value={{user_input_since}}>
    to
    <input type="date" name="to_date" value={{user_input_to}}>

    <input type="text" name="seller" id="tags_seller" placeholder="Seller's Name", value="{{search_seller}}">
  
    <!-- Still need to add some codes here, to display the purchase history/filter results...  -->
    
    <input type = "submit" value = "Search" />
    <a class="btn secondary" href="{{ url_for('users.purchase_history') }}" role="button">Re-search</a>
</form>


<br/>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Total Quantity</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Purchase Time</th>
      <th scope="col">Fulfillment Status</th>
      <th scope="col">Sellers' Names</th>
      <th scope="col">Order Details</th>
    </tr>
  </thead>

  <tbody>
    {% for p in purchase%}
      <tr>
        <th scope="row">{{p.oid}}</th>
        <td>{{p.quantity}}</td>
        <td>{{p.price}}</td>
        <td>{{p.time_purchased}}</td>
        <td>{{p.completed_status}}</td>  
        <td>
            {% for seller in p.sname %}
                <a href="{{ url_for('users.public_view_user', id=p.sid[loop.index0]) }}">{{p.sname[loop.index0]}}</a>
                {% if loop.index0 < p.sname|length - 1 %}
                ,
                {% endif %}
            {% endfor %}    
        </td>
        <td><a href="{{ url_for('users.detailed_order_buyer', order_id=p.oid) }}">Detailed Page for Each Order</a></td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endif %}