{% if current_user.is_authenticated %}

<h1>Your Purchase History:</h1>

<br/>

<h3>Search and filter your purchase history:</h3>
<form action="{{ url_for('users.purchase_history') }}" method="POST">
    <input type="text" name="seller" id="tags_seller" placeholder="by seller", value="{{search_seller}}">
    from
    <input type="date" name="start_date" value={{since}}>
    to
    <input type="date" name="end_date" value={{to}}>
    



    <!-- <script>
    $( function() {
        var availableSellers = [
            {% for s in potential_sellers %}
                "{{s}}",
            {% endfor %}
        ];
        $( "#tags_seller" ).autocomplete({
            source: availableSellers
        });
        $( "#tags_item" ).autocomplete({
            source: availableItems
        });
    });
    </script> -->




    
    <input type = "submit" value = "submit" />
    <a class="btn btn-secondary" href="{{ url_for('users.purchase_history') }}" role="button">Reset filter</a>
</form>







<br/>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Total Quantity</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Seller Name</th>
      <th scope="col">Purchase Time</th>
      <th scope="col">Fulfillment Status</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>

  <tbody>
    {% for p in purchase%}
      <tr>
        <th scope="row">{{p.oid}}</th>
        <td>{{p.quantity}}</td>
        <td>{{p.price}}</td>
        <td>
            {% for seller in p.sname %}
                <a href="{{ url_for('users.public_view_user', id=p.sid[loop.index0]) }}">{{p.sname[loop.index0]}}</a>
                {% if loop.index0 < p.sname|length - 1 %}
                ,
                {% endif %}
            {% endfor %}    
        </td>
        <td>{{p.time_purchased}}</td>
        <td>{{p.completed_status}}</td>
        <td><a href="{{ url_for('users.detailed_order_buyer', order_id=p.oid) }}">More details</a></td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endif %}